header {
    height: auto;
}
.line {
    padding-top: 15px;
    display: flex;
    justify-content: space-around;
}
@media (min-width: 600px) {
    .line{
        flex-direction: row;
        font-size: 10px;
    }
}
.navigation {
    padding-top: 5px;
    justify-content: space-between;
    font-size: 12px;
}
.nav {
    text-decoration: none;
    color: rgb(255, 255, 255);
    margin: 15px
}
.nav:hover {
    color: red;
}
.icons {
    display: flex;
}
.search {
    margin-right: 55px;
}
.human {
    margin-right: 55px;
}