body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}
main {
    background-repeat: no-repeat;
    background-size: cover;
    height: 1621px;
    background-color: rgb(24, 9, 65);
}
.desert {
    padding-left: 24px;
    padding-top: 50px;
}
.text-desert {
    color: white;
    padding-left: 50px;
    font-size: 20px;
}
.gramm {
    color: white;
    padding-left: 50px;
    font-size: 13px;
    padding-top: 5px;
}
.buy {
    display: flex;
}
.price {
    color: white;
    padding-left: 50px;
    font-size: 23px;
    padding-top: 15px;
    padding-right: 30px;
}
.cart-y {
    padding-top: 10px;
}
.menu {
    width: 643px;
    height: 194px;
    font-size: 80px;
    color: white;
    padding-left: 500px;
    margin-top: 100px;
}
.container3 {
    padding-left: 50px;
    padding-top: 30px;
    display: flex;
}