body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    background-color: rgb(24, 9, 65);
}
main {
    height: auto;
}
.text {
    width: 312px;
    height: 98px;
    padding-top: 100px;
    padding-left: 50px;
    color: white;
    font-size: 25px;
}
.middle {
    border: 1px solid rebeccapurple;
    display: flex;
    flex-direction: column-reverse;
}
@media (min-width: 768px) {
    .middle {
        flex-direction: row;
    }
}
.contact {
    position:relative;
}
.recktangle {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}
.recktangle img {
    max-width: 100%;
}
.phone {
    color: white;
    padding-top: 200px;
    padding-left: 50px;
    font-size: 25px;
}
.email {
    font-size: 15px;
    padding-left: 50px;
    color: white;
    padding-top: 5px;
}
.desert-box {
    border: 1px solid red;
    width: 300px;
    padding: 30px;
}
.desert {
    padding-left: 24px;
    padding-top: 50px;
}
.text-desert {
    color: white;
    padding-left: 50px;
    font-size: 20px;
}
.gramm {
    color: white;
    padding-left: 50px;
    font-size: 13px;
    padding-top: 5px;
}
.buy {
    display: flex;
}
.price {
    color: white;
    padding-left: 50px;
    font-size: 23px;
    padding-top: 15px;
    padding-right: 30px;
}
.cart-y {
    padding-top: 10px;
}
.menu {
    width: 643px;
    height: 194px;
    font-size: 80px;
    color: white;
    padding-left: 500px;
    margin-top: 100px;
}
.container3 {
    padding-left: 50px;
    padding-top: 30px;
    display: flex;
}
